@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="bodyContainer" ng-app="StockApp">
        <section id="content">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </section>
    </div>
</body>
</html>


@section scripts {
    @Scripts.Render("~/Scripts/angular.js");
    @Scripts.Render("~/Scripts/App/Stock-Controller.js");
}